.button {
  font-size: 14px;
  padding: 6px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background: #0b0;
}

.button + .button {
  margin-left: 10px;
}

.button_reset {
  background: #f00;
}

.button_disabled {
  pointer-events: none;
  background: #aaa;
  color: #eee
}
