.field {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #000;
}

.row {
  display: flex;
  flex-direction: row;
}

.row + .row {
  border-top: 1px solid #000;
}

.cell {
  width: 20px;
  height: 20px;
}

.cell + .cell {
  border-left: 1px solid #000;
}

.cell_alive {
  background-color: #000;
}
